.WeatherPage[weather=sunny] {
  background: linear-gradient(rgb(87, 203, 220), rgb(59, 161, 181));
}

.WeatherPage[weather=rainy] {
  background: linear-gradient(rgb(97, 105, 120), rgb(60, 67, 83));
}

.WeatherPage[weather=cloudy-day], .WeatherPage[weather=cloudy-night] {
  background: linear-gradient(rgb(69, 79, 97), rgb(49, 60, 87));
}

.WeatherPage[weather=snowy] {
  background: linear-gradient(rgb(224, 224, 224), rgb(165, 165, 165));
}

.WeatherPage[weather=fog] {
  background: linear-gradient(rgb(177, 198, 236), rgb(160, 172, 202));
}

.WeatherPage[weather=sunny] .Icon, .WeatherPage[weather=rainy] .Icon, .WeatherPage[weather=cloudy-day] .Icon, .WeatherPage[weather=cloudy-night] .Icon, .WeatherPage .Icon {
  color: #ffffff;
}
.WeatherPage[weather=sunny] .Icon:hover, .WeatherPage[weather=rainy] .Icon:hover, .WeatherPage[weather=cloudy-day] .Icon:hover, .WeatherPage[weather=cloudy-night] .Icon:hover, .WeatherPage .Icon:hover {
  color: rgba(255, 255, 255, 0.8);
}
.WeatherPage[weather=sunny] .Icon-bright, .WeatherPage[weather=rainy] .Icon-bright, .WeatherPage[weather=cloudy-day] .Icon-bright, .WeatherPage[weather=cloudy-night] .Icon-bright, .WeatherPage .Icon-bright {
  color: rgba(255, 255, 255, 0.8);
}
.WeatherPage[weather=sunny] .Icon-brighter, .WeatherPage[weather=rainy] .Icon-brighter, .WeatherPage[weather=cloudy-day] .Icon-brighter, .WeatherPage[weather=cloudy-night] .Icon-brighter, .WeatherPage .Icon-brighter {
  color: rgba(255, 255, 255, 0.5);
}
.WeatherPage[weather=sunny] .Text, .WeatherPage[weather=rainy] .Text, .WeatherPage[weather=cloudy-day] .Text, .WeatherPage[weather=cloudy-night] .Text, .WeatherPage .Text {
  color: #ffffff;
}
.WeatherPage[weather=sunny] .Text-bright, .WeatherPage[weather=rainy] .Text-bright, .WeatherPage[weather=cloudy-day] .Text-bright, .WeatherPage[weather=cloudy-night] .Text-bright, .WeatherPage .Text-bright {
  color: rgba(255, 255, 255, 0.8);
}
.WeatherPage[weather=sunny] .Text-brighter, .WeatherPage[weather=rainy] .Text-brighter, .WeatherPage[weather=cloudy-day] .Text-brighter, .WeatherPage[weather=cloudy-night] .Text-brighter, .WeatherPage .Text-brighter {
  color: rgba(255, 255, 255, 0.5);
}

.WeatherPage[weather=snowy] .Icon, .WeatherPage[weather=fog] .Icon {
  color: #000000;
}
.WeatherPage[weather=snowy] .Icon:hover, .WeatherPage[weather=fog] .Icon:hover {
  color: rgba(0, 0, 0, 0.8);
}
.WeatherPage[weather=snowy] .Icon-bright, .WeatherPage[weather=fog] .Icon-bright {
  color: rgba(0, 0, 0, 0.8);
}
.WeatherPage[weather=snowy] .Icon-brighter, .WeatherPage[weather=fog] .Icon-brighter {
  color: rgba(0, 0, 0, 0.5);
}
.WeatherPage[weather=snowy] .Text, .WeatherPage[weather=fog] .Text {
  color: #000000;
}
.WeatherPage[weather=snowy] .Text-bright, .WeatherPage[weather=fog] .Text-bright {
  color: rgba(0, 0, 0, 0.8);
}
.WeatherPage[weather=snowy] .Text-brighter, .WeatherPage[weather=fog] .Text-brighter {
  color: rgba(0, 0, 0, 0.5);
}

.WeatherPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 240px;
  overflow: hidden;
  min-height: 100vh;
  min-height: 100svh;
  padding: 24px;
  background-color: #151515;
}
.WeatherPage > .Weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
  max-width: 420px;
}
.WeatherPage > .Weather-container > .Title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
}
.WeatherPage > .Weather-container > .Title-wrapper .Title {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 4px;
}
.WeatherPage > .Weather-container > .Title-wrapper .Subtitle {
  font-size: 28px;
  font-weight: 200;
}
.WeatherPage > .Weather-container > .Weather-icon {
  width: 106px;
  height: auto;
}
.WeatherPage > .CityTime {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  align-self: flex-end;
}/*# sourceMappingURL=styles.css.map */