@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

.WeatherPage[weather="sunny"]{
    background: linear-gradient(rgb(87, 203, 220), rgb(59, 161, 181));
}

.WeatherPage[weather="rainy"]{
    background: linear-gradient(rgb(97, 105, 120), rgb(60, 67, 83));
}

.WeatherPage[weather="cloudy-day"], .WeatherPage[weather="cloudy-night"]{
    background: linear-gradient(rgb(69, 79, 97), rgb(49, 60, 87));
}

.WeatherPage[weather="snowy"]{
    background: linear-gradient(rgb(224, 224, 224), rgb(165, 165, 165));
}

.WeatherPage[weather="fog"]{
    background: linear-gradient(rgb(177, 198, 236), rgb(160, 172, 202));
}

.WeatherPage[weather="sunny"], .WeatherPage[weather="rainy"], .WeatherPage[weather="cloudy-day"], .WeatherPage[weather="cloudy-night"], .WeatherPage{
    
    .Icon{
        color: #ffffff;

        &:hover{
            color: rgba(255,255,255,0.8);
        }
    }
    .Icon-bright{
        color: rgba(255,255,255,0.8);
    }
    .Icon-brighter{
        color: rgba(255,255,255,0.5);
    }

    .Text{
        color: #ffffff;
    }
    .Text-bright{
        color: rgba(255,255,255,0.8);
    }
    .Text-brighter{
        color: rgba(255,255,255,0.5);
    }
}

.WeatherPage[weather="snowy"], .WeatherPage[weather="fog"]{

    .Icon{
        color: #000000;

        &:hover{
            color: rgba(0,0,0,0.8);
        }
    }
    .Icon-bright{
        color: rgba(0,0,0,0.8);
    }
    .Icon-brighter{
        color: rgba(0,0,0,0.5);
    }

    .Text{
        color: #000000;
    }
    .Text-bright{
        color: rgba(0,0,0,0.8);
    }
    .Text-brighter{
        color: rgba(0,0,0,0.5);
    }
}

.WeatherPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-width: 240px;
    overflow: hidden;
    min-height: 100vh;
    min-height: 100svh;
    padding: 24px;
    background-color: #151515;

    > .Weather-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        width: 100%;
        max-width: 420px;

        > .Title-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            line-height: 1;

            .Title{
                font-size: 34px;
                font-weight: 300;
                letter-spacing: 4px;
            }

            .Subtitle{
                font-size: 28px;
                font-weight: 200;
            }
        }

        > .Weather-icon {
            width: 106px;
            height: auto;
        }

    }

    > .CityTime{
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        align-self: flex-end;
    }
}