@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

.Search-bar{
    position: relative;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;

    > .Search-input{
        z-index: 999;
        height: 32px;
        width: 0;
        border-radius: 4px;
        box-shadow: rgba(50, 50, 93, 0.25) 2px -4px 12px -2px, rgba(0, 0, 0, 0.3) -2px 2px 7px -3px;
        border: 1px solid #5f6368;
        background-color: #101010;

        font-family: Limerick Serial;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.8px;
        color: #FFFFFF;
    }
    
    > .Search-icon{
        z-index: 999;
        height: 100%;
        width: auto;
        color:#FFFFFF;

        &:hover{
            filter: opacity(0.8);
            transition: filter 300ms;
            cursor: pointer;
        }
    }

    &[hovered="true"]{
        > .Search-input{
            height: 100%;
            width: 264px;
            padding-left: 4px;

            transition: all 300ms;
        } 
    }

    > .Cities-datalist{
        z-index: 99;
        position: absolute;
        top: 36px;
        left: 0;
        width: 263px;
        height: max-content;
        max-height: 30vh;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: rgba(50, 50, 93, 0.25) 2px 6px 12px -2px, rgba(0, 0, 0, 0.3) -2px 2px 7px -3px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        > .City-option{
            width: 100%;
            padding: 6px;

            text-align: left;
            font-size: 16px;
            font-weight: 300;
            color: #000000;
            letter-spacing: 0.6px;

            &:hover{
                background-color: #000000;
                color: #FFFFFF;

                cursor: pointer;
                transition: all 150ms;
            }
        }
    }
}