.Back-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    > .Rounded{
        border-radius: 50%;
        padding: 4px;

        &:hover{
            cursor: pointer;
            transition: background-color 300ms;
            background-color: rgba(0,0,0,0.08);
        }

        > .Back-icon{
            width: 32px;
            height: auto;

            &:hover{
                transition: color 300ms;
            }
        }
    }
    
}