@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

.NotFoundPage .Icon{
    color:#ffffff;
}

.NotFoundPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-width: 240px;
    min-height: 100vh;
    min-height: 100svh;
    padding: 24px;

    @include mq-small{
        padding: 16px;
    }

    > .Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 420px;
        flex: 1;

        > .Sad-face-icon{
            width: 128px;
            height: auto;
            color: #ffffff;
        }
    
        > .Title{
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 4px;
            color: #ffffff;
            margin-bottom: 16px;
            text-align: center;
        }
    
        > .Subtitle{
            font-size: 18px;
            font-weight: 200;
            letter-spacing: 1px;
            color: #ffffff;
            text-align: center;
        }
    }

}